    
    @charset 'utf-8';
    
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, menu, nav, section {
        display: block;
    }
    body {
        line-height: 1;
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    a{
        text-decoration: none;
        color: black;}
    button, li{
        cursor: pointer;
    }
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .cont_wrap{
        width: 100%;
    }
    h1 span.small{
        font-size: 20px;
        font-weight: 500;
    }
    /* ------------top---------- */
    .top_cont{
        width: 100%;
        height: 945px;
        margin: 0 auto;
        background: url(./img/bg02.jpg) no-repeat;
        background-size: cover;
       
    }
    .top_cont .content{
        position: relative;
        width: 600px;
        margin:auto;
        text-align: center;
    }
    
    .top_cont .content .border_box{
        position: relative;
        display: inline-block;
        width: 400px;
        height: 400px;
        margin-top: 56%;
        transform: translateY(-50%);
        border:12px solid #f1f1f1
    }
    .top_cont .content .border_box h1{
        width: 380px;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%);
        font-size: 40px;
        font-weight: bold;
        color: #fff;
        animation: textshow 2.5s;
    }
    
    .top_cont .content .icon{
        position: absolute;
        top: 110%;
        left: 50%;
        transform: translateX(-50%);
        width: 400px;
        display: inline-block;
        margin-top: -50%;
        color: #fff;
        font-size: 40px;
    }
    .top_cont .content .icon i{
        margin-right: 30px;
    }
    .top_cont .content .icon i:nth-child(4){
        margin-right: 0;
    }
    .top_cont .content .scroll{
        display: flex;
        flex-direction: column;
        font-size: 40px;
        color: #fff;
    }
    .top_cont .content .scroll i{
        margin-bottom: -18px;
        animation: scrollshow 0.9s infinite ;
    }
    .top_cont .content .scroll i:nth-child(1){

    }
    .top_cont .content .scroll i:nth-child(2){
        animation-delay: 0.2s;
    }
    .top_cont .content .scroll i:nth-child(3){
        animation-delay: 0.4s;
    }
    @keyframes scrollshow{
        from{
            opacity: 1;
        }
        to{
            opacity: 0;
        }
    }
    @keyframes textshow{
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
     /* ------------어바웃미---------- */

    .about_cont{
        height: 870px;
        padding: 100px 100px;
        background-color: #ffeef0;
    }
    .about_cont h1{
        margin-bottom: 100px;
        font-size: 35px;
        text-align: center;
    }
    .about_cont .txt_box{
        display: flex;
        justify-content: space-between;
    }
    .about_cont .txt_box .left{
        margin-right: 20px;
    }
    .about_cont .txt_box .right{
        width: 1000px;
        padding-top: 20px;
    }
    .about_cont .txt_box .right p:nth-child(1){
        margin-bottom: 30px;
        font-size: 30px;
    }
    .about_cont .txt_box .right p:nth-child(2){
        margin-bottom: 30px;
        margin-left: 40px;
        font-size: 25px;
        animation-delay: 0.2s;
    }
    .about_cont .txt_box .right p:nth-child(3){
        margin-left: 80px;
        font-size: 20px;
        line-height: 45px;
        animation-delay: 0.4s;
    }
    .about_cont .txt_box .right p:nth-child(3) span{
        animation: 1s blink;
        color: #f06292;
    }
    .about_cont .txt_box .right .fa-check{
        color: #ff1744;
    }
    .about_cont .school{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-evenly;
        margin: 100px auto 0;
    }
    .about_cont .school h3{
        display: inline-block;
        font-size: 25px;
    }
    .about_cont .school h3::after{
        content: '';
        margin-left: 200px;
        border: 1px solid #000;
    }
    
    .about_cont .school .scl{
        display: inline-block;
        font-size: 17px;
        opacity: 0;
    }
    .about_cont .school .scl p{
        font-weight: bold;
    }
    .about_cont .school .scl span{
        font-size: 13px;
    }
    @keyframes rightshow{
        0%{
            transform: translateX(100px);
        }
        100%{
            transform: translateX(0);
        }
    }
    @keyframes blink{
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }

    .animate__fadeInUp{
        opacity: 1;
    }
    .animate__lightSpeedInRight{
        animation-duration: 1.5s !important;
    }

      /* ------------스킬---------- */
    .skill_cont{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 1100px;
        padding: 100px;
        background-color: #f7efea ;
        text-align: left;
    }
    .skill_cont h1{
        margin-bottom: 100px;
        font-size: 35px;
        text-align: center;
    }
    .skill_cont .txt_box{
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 30px;
    }
    .skill_cont .txt_box img{
        width: 100px;
        height: 100px;
        display: inline-block;
    }
    .skill_cont .txt_box .skill_le{
        width: 1100px;
        line-height: 35px;
    }
    .skill_cont .txt_box .skill_le p{
        margin-bottom: 20px;
        font-size: 20px;
    }
    .skill_wrap{
        width: 100%;
        height: 30%;
        display: inline-block;
        position: relative;
        background-color: rgb(235, 230, 230);
    }
    .skill_wrap .skill_bar{
        height: 100%;
        background-color: rgb(6, 14, 87);
    }
   
    .skill_wrap p{
        position: absolute;
        top: 50%;
        right:10px;
        transform: translateY(-50%);
    }
    .skill_cont .txt_box:last-child{

    }
    .skill_cont .txt_box:last-child img{
        width: 120px;
        height: 120px;
    }
    .skill_cont .txt_box:last-child p{
        display: inline-block;
        width: 1120px;
        font-size: 20px;
        line-height: 100px;
    }


  







       /* ------------works---------- */
       .works_cont{
            height: 600px;
            padding: 100px;
            background-color: #f7f4ea ;
            text-align: left;
        }
        .works_cont h1{
            margin-bottom: 100px;
            font-size: 35px;
            text-align: center;
        }
      
 

      /* ------------contact---------- */
        .contact_cont{
            width: 100%;
            height: 600px;
            padding: 100px;
            background-color: #f3eaf7;
        }
        .contact_cont h1{
            margin-bottom: 100px;
            font-size: 35px;
            text-align: center;
        }











     /* -----------모바일 반응형----------- */
    @media screen and (max-width: 768px) {
        body {
            width: 100%;
            padding: 0;
        }




        /* ------------top---------- */
        .top_cont{
            width: 100%;
            height: 650px;
        
        }
        .top_cont .content{
            position: relative;
            width: 70%;
            padding-top: 35px;
        }
        
        .top_cont .content .border_box{
            position: relative;
            display: inline-block;
            width: 100%;
            height: 300px;
            margin-top: 50%;
            transform: translateY(-50%);
            border:12px solid #f1f1f1
        }
        .top_cont .content .border_box h1{
            font-size: 20px;
        }
        
        .top_cont .content .icon{
            width: 100%;
            top: 105%;
            font-size: 25px;
        }
        .top_cont .content .icon i{
            margin-right: 30px;
        }
        .top_cont .content .icon i:nth-child(4){
            margin-right: 0;
        }
        .top_cont .content .scroll{
            display: flex;
            flex-direction: column;
            font-size: 40px;
            color: #fff;
        }


    /* ------------어바웃---------- */

        .about_cont{
            height: 1000px;
            padding: 50px 20px;
        }
        .about_cont h1{
            width: 100%;
            margin-bottom: 50px;
        }
        .about_cont .txt_box{
            display: block;
            text-align: center;
        }
        .about_cont .txt_box .left{
            margin-right: 0;
        }
        .about_cont .txt_box .left img{
            width: 100% !important;
            height: 70% !important;
        }
        .about_cont .txt_box .right{
            width: 100%;
        }
        .about_cont .txt_box .right p:nth-child(1){
            margin-bottom: 20px;
            font-size: 21px;
        }
        .about_cont .txt_box .right p:nth-child(2){
            margin-bottom: 20px;
            margin-left:0;
            font-size: 18px;
            animation-delay: 0.2s;
        }
        .about_cont .txt_box .right p:nth-child(3){
            margin-left: 0;
            font-size: 17px;
            line-height: 30px;
            animation-delay: 0.4s;
        }
    
        .about_cont .school h3::after {
            margin: 0 10px;
        }



    /* ------------스킬---------- */

         .skill_cont{
            height: 1300px;
            padding: 50px 20px;
        }
        .skill_cont h1{
            width: 100%;
            margin-bottom: 50px;
        }
        .skill_cont .txt_box{
            margin-bottom: 50px;
        }
        .skill_cont .txt_box img{
            width: 80px;
            height: 80px;
        }
        .skill_cont .txt_box .skill_le{
            width: 100%;
            margin-left: 5px;
            line-height: 30px;
        }
        .skill_cont .txt_box .skill_le p{
            margin-bottom: 5px;
            font-size: 17px;
        }
        .skill_wrap{
            width: 100%;
            height: 20px;
            display: inline-block;
            position: relative;
            background-color: rgb(235, 230, 230);
        }
    
        .skill_wrap p{
            position: absolute;
            top: 50%;
            right:-4px;
            transform: translateY(-50%);
        }
        .skill_cont .txt_box:last-child img{
            width: 90px;
            height: 90px;
        }
        .skill_cont .txt_box:last-child{
            width: 100%;
        }
        .skill_cont .txt_box:last-child p{
            display: inline-block;
            width: 100%;
            margin-left: 5px;
            font-size: 17px;
            line-height: 77px;
        }



    /* ------------works---------- */




    /* ------------컨택---------- */





    }
    